/*  ************** CSS RESET ************ */

* {
  margin: 0;
  color: rgb(115, 115, 115);
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: white;
}

/* *************** FONTS **************** */

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* *************** UTILS **************** */

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.container {
  padding: 1.5rem;
  max-width: 1080px;
}

/* *********** BASE PAGE ************* */
.contenuto-wrapper-top {
  height: calc(100% - 130px);
  overflow: hidden;

  display: flex;

  /* DEBUG */
  /* background-color: pink; */
}

/* ************ MAIN ************** */

main {
  flex-grow: 1;

  background-color: rgb(21, 25, 33);
}

/* ************ PLAYBAR ************** */

.playbar {
  height: 130px;
  background-color: rgb(40, 40, 40);
}

/* ************ SIDEBAR ************** */

.sidebar {
  /* width: 300px; */
  background-color: black;

  display: flex;
  flex-direction: column;
}

/* ********* LOGO ******** */

#logo-small {
  width: 40px;
  padding: 1.5rem;
}

/* ********** RESPONSIVE X-SMALL --> 'TILL 480PX ************** */
@media screen and (min-width: 100px) {
  /* DISPLAY NONE */
  #logo-intero {
    display: none;
  }

  .navigation-sidebar h6 {
    display: none;
  }

  /* ****** NAVIGATION ******** */
  .navigation-sidebar img {
    width: 40px;
    padding: 0.5rem 1.5rem;

    opacity: 70%;
  }

  .navigation-sidebar {
    flex-grow: 1;
  }

  .playlist-sidebar {
    display: none;
  }

  .user-sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .user-sidebar hr,
  .user h2,
  .download h6 {
    display: none;
  }

  .download img {
    width: 20px;
  }

  .user img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: gray;
  }
}

/* ******* RESPONSIVE SMALL --->  640px ******* */

@media screen and (min-width: 640px) {
  .sidebar {
    width: 270px;
  }

  #logo-intero {
    display: block;
    width: 70%;

    padding: 1.5rem;
  }

  #logo-small {
    display: none;
  }

  .icona-home,
  .icona-cerca,
  .icona-libreria {
    display: flex;
    align-items: center;
  }

  .navigation-sidebar h6 {
    display: inline;
    font-size: 1rem;
    font-weight: bold;
  }

  /* NAVIGATION SIDEBAR */

  .navigation-sidebar {
    flex-grow: 0;
  }

  /* HOVER NAVIGATION */
  .icona-home:hover,
  .icona-cerca:hover,
  .icona-libreria:hover {
    border-left: 0.4rem solid limegreen;
    cursor: pointer;
  }

  .icona-home:hover img,
  .icona-cerca:hover img,
  .icona-libreria:hover img {
    padding-left: 1.1rem;

    opacity: 100%;
  }

  .icona-home:hover h6,
  .icona-cerca:hover h6,
  .icona-libreria:hover h6 {
    color: white;
  }

  /* PLAYLIST SIDEBAR */

  .playlist-sidebar {
    display: block;
    flex-grow: 1;
  }

  .playlist-sidebar h2 {
    display: block;
    color: white;
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
    padding-left: 1.5rem;
  }

  .tasto-crea-playlist {
    background-color: gray;
    height: 3rem;
    width: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .crea-playlist {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
  }

  .crea-playlist i {
    color: black;
    text-align: center;
    font-size: 2rem;
  }

  .crea-playlist h5 {
    font-size: 1.3rem;
  }

  .playlist-attuali {
    padding-inline-start: 0px;
  }

  .playlist-attuali li {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .playlist-attuali-container {
    padding-left: 1.5rem;
  }

  /* HOVER PLAYLIST */

  .crea-playlist:hover {
    cursor: pointer;
  }

  .crea-playlist:hover .tasto-crea-playlist {
    background-color: limegreen;
  }

  .crea-playlist:hover h5 {
    color: white;
  }

  .playlist-attuali-container:hover {
    color: white;
    cursor: pointer;
    border-left: 0.4rem solid limegreen;
    padding-left: 1.1rem;
  }

  /* USER SIDEBAR */

  .user-sidebar {
    align-items: flex-start;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .user-sidebar hr {
    display: block;
    width: 100%;
    color: gray;
  }

  .user,
  .download {
    display: flex;
    align-items: center;
  }

  .user h2,
  .download h6 {
    padding-left: 1rem;
    display: block;
  }

  .user h2 {
    color: white;
  }

  .download img {
    opacity: 70%;
  }

  /* USER SIDEBAR HOVER */

  .user:hover,
  .download:hover {
    cursor: pointer;
  }

  .user:hover h2 {
    color: limegreen;
  }

  .download:hover img {
    opacity: 100%;
  }

  .download:hover h6 {
    color: white;
  }
}
