/*  ************** CSS RESET ************ */

* {
  margin: 0;
  color: rgb(115, 115, 115);
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: white;
}

/* *************** FONTS **************** */

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* *************** UTILS **************** */

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.container {
  padding: 1.5rem;
  max-width: 1080px;
}

/* ********** RESPONSIVE X-SMALL --> 'TILL 480PX ************** */

.contenuto-wrapper-top {
  height: calc(100% - 130px);
  overflow: hidden;

  display: flex;

  /* DEBUG */
  /* background-color: pink; */
}

/* ************ MAIN ************** */

main {
  flex-grow: 1;

  background-color: rgb(21, 25, 33);
}

/* ************ PLAYBAR ************** */

.playbar {
  height: 130px;
  background-color: rgb(40, 40, 40);
}

/* ************ SIDEBAR ************** */

.sidebar {
  width: 300px;
  background-color: black;

  display: flex;
  flex-direction: column;
}

/* *SIDEBAR LOGO* */

#logo-intero {
  width: 200px;
  padding: 1.5rem;

  /* per mobile display none */
}

#logo-small {
  width: 40px;
  padding: 1.5rem;
}

/* *SIDEBAR NAVIGATION */

.sidebar > .navigation-sidebar,
.sidebar > .playlist-sidebar {
  padding: 1.5rem;
  text-align: left;
  /* debug */
  /* height: 180px; */
}

.navigation-sidebar > ul,
.playlist-sidebar > ul {
  padding-inline-start: 0px;
}

.navigation-sidebar li {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.contenitore-navigation-list {
  display: flex;
  align-items: center;
}

.navigation-sidebar img {
  width: 38px;
  text-align: left;
  display: inline;
  opacity: 70%;

  padding-right: 0.5rem;
}

.navigation-sidebar h6,
.playlist-sidebar h6 {
  display: inline;
  font-size: 19px;
}

/* HOVER */

.contenitore-navigation-list:hover {
  cursor: pointer;
}

.contenitore-navigation-list:hover img {
  opacity: 100%;
}

.contenitore-navigation-list:hover h6 {
  color: white;
}

/* *SIDEBAR PLAYLIST* */

.sidebar > .playlist-sidebar {
  flex-grow: 1;
}

.playlist-sidebar h6 {
  display: inline;
  font-size: 19px;
  color: rgb(115, 115, 115);
}

.playlist-sidebar li {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.crea-playlist {
  display: flex;
  align-items: center;

  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.crea-playlist h5 {
  font-size: 21px;
}

.fa-square-plus {
  color: white;
  opacity: 70%;
  font-size: 60px;
  padding-right: 0.7rem;
}

.playlist-sidebar h4,
.user-sidebar h4 {
  color: white;
  font-size: 23px;
}

/* *SIDEBAR USER* */

.installa-user,
.login-user {
  display: flex;
  align-items: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}

.user-sidebar .installa-user img {
  width: 17px;
  padding-right: 0.5rem;
  opacity: 70%;
}

.user-sidebar .installa-user h6 {
  font-size: 19px;
}

.user-sidebar .login-user img {
  width: 38px;
  height: 38px;
  background-color: gray;
  border-radius: 19px;
  margin-right: 0.7rem;
}

.user-sidebar hr {
  color: rgb(113, 113, 113);
  margin: 0 1.5rem;
}
